{{ define "css" }}
<style>

</style>
{{ end }}

{{ define "content" }}

<div class="layui-row layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="delivery-table" lay-filter="delivery-table"></table>
    </div>
</div>

{{ end }}

{{ define "js" }}
<script type="text/html" id="delivery-tool">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="view">詳細</a>
        <a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="delivery-view">対象一覧</a>
    </div>
</script>

<script>
    layui.use(function () {
        var $ = layui.$
            , table = layui.table;

        table.render({
            elem: "#delivery-table"
            , url: "/delivery/data"
            , where: {}
            , cols: [[
                { field: "id", title: "番号", width: 105 }
                , { field: "name", title: "管理名称" }
                , {
                    field: "", title: "送信済/全数", templet: function (d) {
                        let mail_delivery_logs = 0;
                        if (d.mail_delivery_logs) {
                            mail_delivery_logs = d.mail_delivery_logs.length;
                        }
                        let mail_delivery_targets = 0;
                        if (d.mail_delivery_targets) {
                            mail_delivery_targets = d.mail_delivery_targets.length;
                        }
                        return mail_delivery_logs + "/" + mail_delivery_targets;
                    }
                }
                // , { field: "", title: "対象者リスト" }
                , { field: "send_at", title: "送信日時" }
                , { field: "send_completed_at", title: "送信完了日時" }
                , {
                    field: "status", title: "実施ステータス", templet: function (d) {
                        switch (d.status) {
                            case 1:
                                return '<span class="layui-badge-dot layui-bg-green"></span> ' + "配信完了"
                                break;
                            case 0:
                                return '<span class="layui-badge-dot"></span> ' + "未実施"
                                break;
                            default:
                                break;
                        }
                    }
                }
                , { toolbar: "#delivery-tool", title: "操作", width: 130 }
            ]]
            , page: true
        });

        table.on("tool(delivery-table)", function (obj) {
            console.log(obj);
            switch (obj.evnet) {
                case "view":
                    
                    break;
            
                default:
                    break;
            }
        })
    })
</script>
{{ end }}