{{ define "content" }}

<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">标题</div>
            <div class="layui-card-body">
                index
            </div>
        </div>
    </div>
    
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">标题</div>
            <div class="layui-card-body">
                index
            </div>
        </div>
    </div>
</div>

{{ end }}