{{ define "css" }}
<style>
    .layui-input-prefix {
        width: 80px;
        padding: 0;
    }

    .layui-input-wrap .layui-input {
        padding-left: 80px !important;
    }

    .layui-input-inline {
        padding-left: 100px;
    }
</style>
{{ end }}

{{ define "content" }}

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <!-- <div class="layui-card-header">标题</div> -->
            <div class="layui-card-body">
                <form class="layui-form layui-row layui-col-space15" action="javascript:void(0);">
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                会員ID
                            </div>
                            <input type="text" name="id" value="" placeholder="请输入会員ID" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                氏名
                            </div>
                            <input type="text" name="name" value="" placeholder="请输入氏名" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                カナ
                            </div>
                            <input type="text" name="kana_name" value="" placeholder="请输入カナ" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                大学名
                            </div>
                            <input type="text" name="university_name" value="" placeholder="请输入大学名" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                電話番号
                            </div>
                            <input type="text" name="mobile" value="" placeholder="请输入電話番号" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                メール
                            </div>
                            <input type="text" name="email" value="" placeholder="请输入メール" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                学部学科
                            </div>
                            <input type="text" name="faculty" value="" placeholder="请输入学部学科" class="layui-input"
                                lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                文理区分
                            </div>
                            <select name="type">
                                <option value=""></option>
                                <option value="1">文系</option>
                                <option value="2">理系</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-input-wrap" style="border: 1px solid #f2f2f2;">
                            <div class="layui-input-prefix">
                                大学エリア
                            </div>
                            <div class="layui-input-inline" id="university-area">

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-input-wrap" style="border: 1px solid #f2f2f2; line-height: 34px;">
                            <div class="layui-input-prefix">
                                大学ランク
                            </div>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="rank_obj[]" value="1" title="A">
                                <input type="checkbox" name="rank_obj[]" value="2" title="B">
                                <input type="checkbox" name="rank_obj[]" value="3" title="C">
                                <input type="checkbox" name="rank_obj[]" value="4" title="D">
                                <input type="checkbox" name="rank_obj[]" value="5" title="E">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                卒業年度
                            </div>
                            <input type="text" name="graduation" id="graduation-date" placeholder="请选择卒業年度"
                                class="layui-input" lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                内定先
                            </div>
                            <input type="text" name="prospective_destination" value="" placeholder="请输入内定先"
                                class="layui-input" lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-input-wrap" style="border: 1px solid #f2f2f2; line-height: 34px;">
                            <div class="layui-input-prefix">
                                ステータス
                            </div>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="status_obj[]" value="0" title="未入力">
                                <input type="checkbox" name="status_obj[]" value="1" title="内定">
                                <input type="checkbox" name="status_obj[]" value="2" title="重複">
                                <input type="checkbox" name="status_obj[]" value="3" title="公務員">
                                <input type="checkbox" name="status_obj[]" value="4" title="教職">
                                <input type="checkbox" name="status_obj[]" value="5" title="既卒">
                                <input type="checkbox" name="status_obj[]" value="6" title="卒年延長">
                                <input type="checkbox" name="status_obj[]" value="7" title="留学">
                                <input type="checkbox" name="status_obj[]" value="8" title="進学">
                                <input type="checkbox" name="status_obj[]" value="9" title="ダミー登録">
                                <input type="checkbox" name="status_obj[]" value="91" title="メールエラー">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-input-wrap">
                            <div class="layui-input-prefix">
                                登録日
                            </div>
                            <input type="text" name="created_at" id="lastlogin-date" placeholder="请选择登録日"
                                class="layui-input" lay-affix="clear">
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-input-wrap">
                            <input type="checkbox" name="unsubscribe" value="1" title="メール配信停止を除く" lay-skin="tag">
                            <input type="checkbox" name="flag_telng" value="1" lay-text="TELNGを除く" lay-skin="tag">
                            <input type="checkbox" name="flag_withdrawal" value="1" title="退会を除く" lay-skin="tag"
                                checked>
                            <input type="checkbox" name="ap_informal_offer" value="1" title="AP内定を除く" lay-skin="tag">
                        </div>
                    </div>
                    <div class="layui-btn-container layui-col-xs12">
                        <button class="layui-btn" lay-submit lay-filter="users-table-search">Search</button>
                        <button type="reset" class="layui-btn layui-btn-primary">Clear</button>
                    </div>
                </form>
                <table class="layui-hide" id="users-table" lay-filter="users-table"></table>
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "js" }}
<script type="text/html" id="users-tool">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </div>
</script>

<script>
    layui.use(function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form
            , laydate = layui.laydate

        laydate.render({
            elem: "#graduation-date"
            , type: 'month'
            , range: true
        })

        laydate.render({
            elem: "#lastlogin-date"
            , range: true
        })

        table.render({
            elem: "#users-table"
            , url: "/user/data"
            , where: { flag_withdrawal: 1 }
            , cols: [[
                { field: "id", title: "会員ID", width: 105 }
                , {
                    field: "", title: "氏名", templet: function (d) {
                        return d.family_name + " " + d.name
                    }, width: 140
                }
                , {
                    field: "", title: "フリガナ", templet: function (d) {
                        return d.kana_family_name + " " + d.kana_name
                    }, width: 140
                }
                , { field: "mobile", title: "携帯電話番号", width: 140 }
                , { field: "email", title: "メール", width: 180 }
                , {
                    field: "", title: "学校名", templet: function (d) {
                        if (d.master_university) {
                            return d.master_university.name
                        }
                        return d.university_name_opt
                    }, width: 180
                }
                , {
                    field: "", title: "卒業年度", templet: function (d) {
                        return d.graduation_year + "年" + d.graduation_month + "月"
                    }, width: 110
                }
                , {
                    field: "", title: "配信停止", templet: function (d) {
                        if (d.unsubscribe) {
                            return "NG"
                        }
                        return ""
                    }, width: 90
                }
                , {
                    field: "", title: "TELNG", templet: function (d) {
                        if (d.flag_telng) {
                            return "NG"
                        }
                        return ""
                    }, width: 80
                }
                , { field: "withdrawaled_at", title: "退会", width: 150 }
                , { field: "created_at", title: "作成日時", width: 150 }
                , { toolbar: "#users-tool", title: "操作" }
            ]]
            , page: true
        });

        table.on("tool(users-table)", function (obj) {
            let data = obj.data;

            switch (obj.event) {
                case 'edit':
                    let paramObj = {
                        id: data.id
                        , master_university_id: data.master_university_id
                        , master_organization_id: data.master_organization_id
                    }
                    let paramStr = $.param(paramObj);
                    layer.open({
                        type: 2,
                        title: '编辑',
                        shadeClose: true,
                        maxmin: true, // 开启最大化最小化按钮
                        area: ['1200px', '600px'],
                        content: "/user/edit?" + paramStr
                    });
                    break;

                default:
                    break;
            }
        })

        // 搜索提交
        form.on('submit(users-table-search)', function (data) {
            // 获得表单字段
            var field = data.field;
            field.university_area = [];
            $.each(field, function (key, value) {
                if (key.indexOf("university_area_obj[") === 0 && key.slice(-1) === "]") {
                    field.university_area.push(value);
                }
            });
            field.rank = [];
            $.each(field, function (key, value) {
                if (key.indexOf("rank_obj[") === 0 && key.slice(-1) === "]") {
                    field.rank.push(value);
                }
            });
            field.status = [];
            $.each(field, function (key, value) {
                if (key.indexOf("status_obj[") === 0 && key.slice(-1) === "]") {
                    field.status.push(value);
                }
            });
            // 执行搜索重载
            table.reload('users-table', {
                page: {
                    // 重新从第 1 页开始
                    curr: 1
                },
                // 搜索的字段
                where: field
            });
            // 阻止默认 form 跳转
            return false;
        });

        $.ajax({
            url: "/university/area"
        })
            .done(function (res) {
                let checkbox = "";
                res.data.map(data => {
                    checkbox += '<input type="checkbox" name="university_area_obj[]" value="' + data.area + '" title="' + data.area + '">';
                });
                $("#university-area").html(checkbox);
                form.render();
            })
    });
</script>
{{ end }}